@import "../../style/_vars.scss";

.footer-container {
  height: 100%;
  float: left;
  background-color: $color-secondary;
  * {
    float: left;
  }

  .devicon-container {
    height: 80%;
    background-color: $color-white;
    border-top: 1px solid $color-grey;

    img {
      height: calc(96%/1);
      width: calc(80%/10);
      margin: calc(4%/2) calc(20%/20);
    }
  }

  .footer-bottom {
    height: 20%;
    text-align: center;

    .footer-signature {
      width: 100%;
      font-family: $font-cursive;
    }
  }
}
