@import "../../../style/_vars.scss";

div.hero {
  height: 15%;
  float: left;
  background-color: rgba($color-main, 1);
  * {
    float: left;
  }

  .hero-top {
    height: 60%;
    width: 100%;
  }

  @media only screen and (min-width: 540px) {
    h2.name {
      font-size: 2.75em;
      letter-spacing: 2px;
    }
    h4.title {
      letter-spacing: 2px;
      font-size: 2em;
    }
  }

  @media only screen and (min-width: 760px) {
    h2.name {
      font-size: 3.25em;
    }
    h4.title {
      font-size: 2.5em;
    }
  }

  h2.name, h4.title {
    text-align: center;
    height: 50%;
    color: $color-white;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-top: .2em;
  }

  h4.title {
    padding-bottom: .15em;

  }

  .hero-bottom-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .hero-photo {
    margin: 0 2%;
    height: 40%;
    width: calc(46%);
    max-height: 800px;

    img {
      height: 100%;
      max-width: 800px;
      margin: 0 auto;
      float: none;
    }
  }

  .blockquote-container {
    width: 46%;
    margin: 0 2%;

    blockquote {
      width: 80%;
      height: 80%;
      margin: 10%;
      background-color: $color-white;
      border-radius: $pad;
    }
    .left-quote {
      height: 100%;
      width: 10%;
      float: left;
      font-size: 1.5em;
      &:before {
        top: 0;
        left: 0;
        content: "\201C";
      }
    }

    .quote {
      height: 100%;
      width: 80%;
      padding: $pad/2 0;
      font-style: italic;
    }

    .right-quote {
      height: 100%;
      width: 10%;
      float: right;
      font-size: 1.5em;
      &:before {
        top: 0;
        right: 0;
        content: "\201D";
      }
    }
  }
  @media only screen and (min-width: 540px) {
    .blockquote {
      font-size: 1.5em;
    }
  }
  @media only screen and (min-width: 760px) {
    .blockquote {
      font-size: 1.75em;
    }
  }
  @media only screen and (min-width: 960px) {
    .blockquote {
      font-size: 2em;
    }
  }
}
