@import url(https://fonts.googleapis.com/css?family=Lato);@import url(https://fonts.googleapis.com/css?family=Lato);@import url(https://fonts.googleapis.com/css?family=Lato);@import url(https://fonts.googleapis.com/css?family=Lato);@import url(https://fonts.googleapis.com/css?family=Lato);@import url(https://fonts.googleapis.com/css?family=Lato);nav.navbar {
  height: 5%;
  float: left;
  position: relative; }
  nav.navbar * {
    float: left;
    display: block; }
  nav.navbar .fa-compass, nav.navbar .fa-home, nav.navbar .fa-linkedin-square, nav.navbar .fa-github-square {
    font-size: 3em;
    display: block;
    color: #385a74; }
    nav.navbar .fa-compass:hover, nav.navbar .fa-home:hover, nav.navbar .fa-linkedin-square:hover, nav.navbar .fa-github-square:hover {
      color: #8398a7; }
    nav.navbar .fa-compass:active, nav.navbar .fa-home:active, nav.navbar .fa-linkedin-square:active, nav.navbar .fa-github-square:active {
      color: #df745f; }
  nav.navbar i.fa.fa-compass {
    width: 50%; }
  nav.navbar .navbar-menu {
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 100%; }
    nav.navbar .navbar-menu a {
      text-align: center;
      width: 100%;
      font-size: 1.5em;
      border-radius: 0.25em;
      padding: 0 0.5em;
      background-color: #385a74;
      border: 1px solid #8398a7;
      color: #fff; }
      nav.navbar .navbar-menu a:hover {
        background-color: #c1dad7;
        color: #385a74; }
      nav.navbar .navbar-menu a:active {
        background-color: #df745f; }
  @media only screen and (max-width: 760px) {
    nav.navbar a {
      width: 25%; }
      nav.navbar a i.fa.fa-linkedin-square, nav.navbar a i.fa.fa-github-square {
        text-align: right; } }
  @media only screen and (min-width: 760px) {
    nav.navbar .navbar-menu {
      display: none; }
    nav.navbar a {
      color: #385a74;
      margin: 0 calc(10%/7/2);
      text-align: center; }
    nav.navbar a.nav-words {
      width: calc(60%/4);
      font-size: 1.5em;
      padding: 0.5em 0;
      border-radius: 0.25em; }
      nav.navbar a.nav-words:hover {
        background-color: #c1dad7;
        color: #fff; }
      nav.navbar a.nav-words:active {
        background-color: #df745f; }
    nav.navbar a.nav-icon {
      width: calc(30%/3);
      padding: 0.25em 0; } }

@media only screen and (min-width: 1115px) {
  a.nav-words {
    font-size: 2em;
    padding: 0.5em 0;
    border-radius: 0.25em; }
    a.nav-words:hover {
      background-color: #c1dad7;
      color: #fff; }
    a.nav-words:active {
      background-color: #df745f; }
  a.nav-icon {
    padding: 0.25em 0; } }
div.hero {
  height: 15%;
  float: left;
  position: relative; }
  div.hero * {
    float: left; }
  div.hero .name-title {
    height: auto;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgba(193, 218, 215, 0.7);
    box-shadow: inset 0 -2px 0.5em #fff; }
  @media only screen and (min-width: 540px) {
    div.hero h2.name {
      font-size: 2.75em; }
    div.hero h4.title {
      font-size: 2em; } }
  @media only screen and (min-width: 760px) {
    div.hero h2.name {
      font-size: 3.25em; }
    div.hero h4.title {
      font-size: 2.5em; } }
  div.hero h2.name, div.hero h4.title {
    text-align: center;
    height: 50%;
    color: #fff;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-top: .2em; }
  div.hero h4.title {
    padding-bottom: .15em; }
  div.hero .hero-photo {
    margin: 0 auto;
    height: 100%;
    max-height: 800px;
    border-top: 1px solid #7a7d84;
    border-bottom: 1px solid #7a7d84;
    background-color: rgba(56, 90, 116, 0.8); }
    div.hero .hero-photo img {
      height: 100%;
      max-width: 800px;
      margin: 0 auto;
      float: none; }
  div.hero .block-quote {
    font-style: italic;
    font-size: 1em;
    text-align: center;
    border: 1px solid #7a7d84;
    height: auto;
    width: calc(100%/2);
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    z-index: 1;
    background-color: #fff;
    border-radius: 0.25em; }
    div.hero .block-quote .left-quote {
      height: 100%;
      width: 10%;
      float: left;
      font-size: 1.5em; }
      div.hero .block-quote .left-quote:before {
        top: 0;
        left: 0;
        content: "\201C"; }
    div.hero .block-quote .quote {
      height: 100%;
      width: 80%;
      padding: 0.25em 0;
      font-style: italic; }
    div.hero .block-quote .right-quote {
      height: 100%;
      width: 10%;
      float: right;
      font-size: 1.5em; }
      div.hero .block-quote .right-quote:before {
        top: 0;
        right: 0;
        content: "\201D"; }
  @media only screen and (min-width: 540px) {
    div.hero .block-quote {
      font-size: 1.5em; } }
  @media only screen and (min-width: 760px) {
    div.hero .block-quote {
      font-size: 1.75em; } }
.navmain {
  height: 100%;
  float: left; }
  .navmain * {
    float: left; }
  .navmain a {
    width: 330px;
    height: 330px;
    margin: 0.5em;
    text-align: center;
    border-radius: 50%;
    background: #385a74;
    position: relative;
    box-shadow: inset 0 0 2.5em #c1dad7; }
    .navmain a:hover {
      background: #8398a7;
      color: #385a74; }
    .navmain a p {
      font-size: 2em;
      transform: translate(0, 140px);
      font-weight: 600;
      color: #fff; }
.footer-container {
  height: 100%;
  float: left; }
  .footer-container * {
    float: left; }
  .footer-container .devicon-container {
    height: 50%;
    background-color: rgba(131, 152, 167, 0.5); }
    .footer-container .devicon-container img {
      width: calc(90%/10);
      margin: 0 .5%; }
  .footer-container .footer-bottom {
    height: 50%;
    background-color: rgba(131, 152, 167, 0.8);
    text-align: center; }
    .footer-container .footer-bottom .footer-photo {
      width: calc(100%/4);
      float: none;
      margin: 0.5em auto;
      border-radius: 0.25em;
      background-color: transparent; }
    .footer-container .footer-bottom .footer-signature {
      width: 100%;
      font-style: italic; }
.projects {
  height: 100%;
  float: left; }
  .projects * {
    float: left;
    display: block; }
  .projects .headline {
    text-align: left;
    font-size: 3em;
    font-weight: 600;
    color: #385a74;
    background-color: rgba(193, 218, 215, 0.7);
    box-shadow: inset -6px -4px 0.5em #fff; }
  .projects .device-photo {
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    margin: 1em 0; }
  .projects .snapshot .title {
    text-align: center;
    font-size: 2.5em;
    font-weight: 400;
    color: #c1dad7;
    background-color: rgba(56, 90, 116, 0.8);
    box-shadow: inset 0px 0px 0.15em #fff;
    padding: 0 0.25em; }
  .projects .snapshot .brief, .projects .snapshot p {
    margin: 0.25em 0 0 0;
    padding: 0 0.25em; }
  .projects .snapshot .brief {
    font-size: 1.5em;
    font-style: italic; }
  .projects .snapshot p {
    font-size: 1.25em; }
  .projects .button-bar .visit-site-button, .projects .button-bar .details-button {
    border-radius: .5em;
    background-color: #385a74;
    margin: 0.25em 0;
    border: 1px solid #7a7d84; }
    .projects .button-bar .visit-site-button:hover, .projects .button-bar .details-button:hover {
      background-color: #c1dad7; }
      .projects .button-bar .visit-site-button:hover h6, .projects .button-bar .visit-site-button:hover i.fa.fa-arrow-circle-right, .projects .button-bar .visit-site-button:hover i.fa.fa-chevron-circle-down, .projects .button-bar .details-button:hover h6, .projects .button-bar .details-button:hover i.fa.fa-arrow-circle-right, .projects .button-bar .details-button:hover i.fa.fa-chevron-circle-down {
        color: #385a74; }
    .projects .button-bar .visit-site-button h6, .projects .button-bar .details-button h6 {
      width: 80%;
      color: #fff; }
    .projects .button-bar .visit-site-button i.fa.fa-arrow-circle-right, .projects .button-bar .visit-site-button i.fa.fa-chevron-circle-down, .projects .button-bar .details-button i.fa.fa-arrow-circle-right, .projects .button-bar .details-button i.fa.fa-chevron-circle-down {
      font-size: 1.125;
      width: 20%;
      color: #fff; }
* {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  white-space: normal;
  background: none;
  color: #000; }

form *:focus {
  border: none;
  outline: none; }

form *:active {
  border: none;
  outline: none; }

head, script, link, style {
  display: none; }

p {
  display: inline-block; }

span, em, strong {
  display: inline; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

body {
  background: #fff;
  font-size: 16px;
  height: 100%; }

blockquote {
  border-left: 0.5em solid #e3e5e8; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.25em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.28571em; }

h6 {
  font-size: 1.125em; }

label {
  font-size: 1.25em;
  font-weight: bolder;
  margin-bottom: 0.5em; }

textarea, input {
  padding: 0.5em;
  border: 1px solid #e3e5e8;
  margin-bottom: 0.5em;
  resize: none; }
  textarea:focus, input:focus {
    border: 1px solid #6e7177; }
  textarea::placeholder, input::placeholder {
    color: #e3e5e8; }

button, input[type="submit"] {
  background: #e3e5e8;
  padding: 0.5em;
  border: none; }
  button:hover, input[type="submit"]:hover {
    background: #7a7d84; }
  button:active, input[type="submit"]:active {
    background: #6e7177; }

ul, ol, li {
  margin-left: 1em; }

li {
  display: list-item; }

ul li {
  list-style: disc; }

ol li {
  list-style: decimal; }

ol ol li, ul ol li {
  list-style: lower-alpha; }

ol ul li, ul ul li {
  list-style: square; }

.clear-float {
  clear: both; }
