@import url(https://fonts.googleapis.com/css?family=Lato);@import url(https://fonts.googleapis.com/css?family=Satisfy);@import url(https://fonts.googleapis.com/css?family=Raleway:300);@import url(https://fonts.googleapis.com/css?family=Lato);@import url(https://fonts.googleapis.com/css?family=Satisfy);@import url(https://fonts.googleapis.com/css?family=Raleway:300);@import url(https://fonts.googleapis.com/css?family=Lato);@import url(https://fonts.googleapis.com/css?family=Satisfy);@import url(https://fonts.googleapis.com/css?family=Raleway:300);@import url(https://fonts.googleapis.com/css?family=Lato);@import url(https://fonts.googleapis.com/css?family=Satisfy);@import url(https://fonts.googleapis.com/css?family=Raleway:300);@import url(https://fonts.googleapis.com/css?family=Lato);@import url(https://fonts.googleapis.com/css?family=Satisfy);@import url(https://fonts.googleapis.com/css?family=Raleway:300);@import url(https://fonts.googleapis.com/css?family=Lato);@import url(https://fonts.googleapis.com/css?family=Satisfy);@import url(https://fonts.googleapis.com/css?family=Raleway:300);@import url(https://fonts.googleapis.com/css?family=Lato);@import url(https://fonts.googleapis.com/css?family=Satisfy);@import url(https://fonts.googleapis.com/css?family=Raleway:300);@import url(https://fonts.googleapis.com/css?family=Lato);@import url(https://fonts.googleapis.com/css?family=Satisfy);@import url(https://fonts.googleapis.com/css?family=Raleway:300);@import url(https://fonts.googleapis.com/css?family=Lato);@import url(https://fonts.googleapis.com/css?family=Satisfy);@import url(https://fonts.googleapis.com/css?family=Raleway:300);@import url(https://fonts.googleapis.com/css?family=Lato);@import url(https://fonts.googleapis.com/css?family=Satisfy);@import url(https://fonts.googleapis.com/css?family=Raleway:300);nav.navbar {
  height: 5%;
  float: left;
  position: relative; }
  nav.navbar * {
    float: left;
    display: block; }
  nav.navbar .fa-compass, nav.navbar .fa-home, nav.navbar .fa-linkedin-square, nav.navbar .fa-github-square {
    font-size: 3em;
    display: block;
    color: #385a74; }
    nav.navbar .fa-compass:hover, nav.navbar .fa-home:hover, nav.navbar .fa-linkedin-square:hover, nav.navbar .fa-github-square:hover {
      color: #df745f; }
    nav.navbar .fa-compass:active, nav.navbar .fa-home:active, nav.navbar .fa-linkedin-square:active, nav.navbar .fa-github-square:active {
      color: #df745f; }
  nav.navbar i.fa.fa-compass {
    width: 50%; }
  nav.navbar .navbar-menu {
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 100%; }
    nav.navbar .navbar-menu a {
      text-align: center;
      width: 100%;
      font-size: 1.5em;
      border-radius: 0.25em;
      padding: 0 0.5em;
      background-color: #fff;
      border: 1px solid #385a74;
      color: #385a74; }
      nav.navbar .navbar-menu a:hover {
        color: #df745f;
        transform: scale(1.05);
        font-weight: 600;
        box-shadow: 5px 5px 5px #8398a7; }
      nav.navbar .navbar-menu a:active {
        background-color: #df745f; }
  @media only screen and (max-width: 760px) {
    nav.navbar a {
      width: 25%; }
      nav.navbar a i.fa.fa-linkedin-square, nav.navbar a i.fa.fa-github-square {
        text-align: right; } }
  @media only screen and (min-width: 760px) {
    nav.navbar .navbar-menu {
      display: none; }
    nav.navbar a {
      color: #385a74;
      margin: 0 calc(10%/7/2);
      text-align: center; }
    nav.navbar a.nav-words {
      width: calc(60%/4);
      font-size: 1.35em;
      padding: 0.5em 0;
      border-radius: 0.25em; }
      nav.navbar a.nav-words:hover {
        color: #df745f;
        transform: scale(1.05);
        font-weight: 600;
        box-shadow: 5px 5px 5px #8398a7; }
      nav.navbar a.nav-words:active {
        background-color: #df745f; }
    nav.navbar a.nav-icon {
      width: calc(30%/3);
      padding: 0.25em 0; } }
  @media only screen and (min-width: 860px) {
    nav.navbar a.nav-words {
      font-size: 1.45em;
      padding: 0.5em 0;
      border-radius: 0.25em; }
      nav.navbar a.nav-words:hover {
        color: #df745f;
        transform: scale(1.05);
        font-weight: 600;
        box-shadow: 5px 5px 5px #8398a7; }
      nav.navbar a.nav-words:active {
        background-color: #df745f; }
    nav.navbar a.nav-icon {
      padding: 0.25em 0; } }
div.hero {
  height: 15%;
  float: left;
  background-color: #385a74; }
  div.hero * {
    float: left; }
  div.hero .hero-top {
    height: 60%;
    width: 100%; }
  div.hero h4.title {
    letter-spacing: 2px;
    font-size: 1.1em; }
  div.hero h2.name, div.hero h4.title {
    text-align: center;
    height: 50%;
    color: #fff;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-top: .2em; }
  div.hero h4.title {
    padding-bottom: .15em; }
  div.hero .hero-bottom-container {
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center; }
  div.hero .hero-photo {
    margin: 0 2%;
    height: 40%;
    width: calc(46%);
    max-height: 800px; }
    div.hero .hero-photo img {
      height: 100%;
      max-width: 800px;
      margin: 0 auto;
      float: none; }
  div.hero .blockquote-container {
    width: 46%;
    margin: 0 2%; }
    div.hero .blockquote-container blockquote {
      width: 80%;
      height: 80%;
      margin: 10%;
      background-color: #fff;
      border-radius: 0.5em; }
    div.hero .blockquote-container .left-quote {
      height: 100%;
      width: 10%;
      float: left;
      font-size: 1.5em; }
      div.hero .blockquote-container .left-quote:before {
        top: 0;
        left: 0;
        content: "\201C"; }
    div.hero .blockquote-container .quote {
      height: 100%;
      width: 80%;
      padding: 0.25em 0;
      font-family: "Satisfy", cursive; }
    div.hero .blockquote-container .right-quote {
      height: 100%;
      width: 10%;
      float: right;
      font-size: 1.5em; }
      div.hero .blockquote-container .right-quote:before {
        top: 0;
        right: 0;
        content: "\201D"; }
  @media only screen and (min-width: 540px) {
    div.hero h2.name {
      font-size: 2.25em;
      letter-spacing: 2px; }
    div.hero h4.title {
      letter-spacing: 2px;
      font-size: .8em; }
    div.hero .blockquote {
      font-size: 1.5em; } }
  @media only screen and (min-width: 620px) {
    div.hero h2.name {
      font-size: 2.25em;
      letter-spacing: 2px; }
    div.hero h4.title {
      letter-spacing: 1.5px;
      font-size: 1em; }
    div.hero .blockquote {
      font-size: 1.5em; } }
  @media only screen and (min-width: 720px) {
    div.hero h2.name {
      font-size: 2.5em;
      letter-spacing: 2px; }
    div.hero h4.title {
      letter-spacing: 2px;
      font-size: 1.2em; }
    div.hero .blockquote {
      font-size: 1.75em; } }
  @media only screen and (min-width: 960px) {
    div.hero h2.name {
      font-size: 4.1em;
      letter-spacing: 4px; }
    div.hero h4.title {
      letter-spacing: 2px;
      font-size: 1.7em; }
    div.hero .blockquote {
      font-size: 2em; } }
  @media only screen and (min-width: 1160px) {
    div.hero h2.name {
      font-size: 5.15em;
      letter-spacing: 4px; }
    div.hero h4.title {
      letter-spacing: 2px;
      font-size: 2em; }
    div.hero .blockquote {
      font-size: 2em; } }
.contact-container {
  height: 100%;
  float: left;
  text-align: center;
  animation-duration: 300ms;
  animation-name: slidein; }

@keyframes slidein {
  from {
    margin-top: 100%;
    width: 100%; }
  to {
    margin-top: 0%;
    width: 100%; } }
  .contact-container * {
    float: left; }
  .contact-container .headline {
    text-align: center;
    font-size: 3em;
    font-weight: 400;
    letter-spacing: 2px;
    color: #385a74;
    border-top: 1px solid #385a74;
    border-bottom: 1px solid #385a74;
    margin: 1% 0px; }
  .contact-container h4 {
    font-size: 2em;
    margin-top: 1%; }
  .contact-container div {
    width: 100%; }
    .contact-container div a {
      width: 60%;
      margin: 2% 20% 0 20%;
      text-align: center; }
    .contact-container div .fa-linkedin-square {
      font-size: 13em;
      display: block;
      color: #385a74; }
      .contact-container div .fa-linkedin-square:hover {
        color: #df745f; }
      .contact-container div .fa-linkedin-square:active {
        color: #df745f; }
  @media only screen and (min-width: 520px) {
    .contact-container div {
      width: 100%; }
      .contact-container div a {
        width: 60%;
        margin: 2% 20% 0 20%; }
      .contact-container div .fa-linkedin-square {
        font-size: 18em; } }
  @media only screen and (min-width: 740px) {
    .contact-container div {
      width: 100%; }
      .contact-container div a {
        width: 60%;
        margin: 2% 20% 0 20%; }
      .contact-container div .fa-linkedin-square {
        font-size: 30em; } }
  @media only screen and (min-width: 960px) {
    .contact-container div {
      width: 100%; }
      .contact-container div a {
        width: 40%;
        margin: 2% 30% 0 30%; }
      .contact-container div .fa-linkedin-square {
        font-size: 30em; } }
.navmain {
  height: 70%;
  text-align: center; }
  .navmain * {
    float: left; }
  .navmain i.fa {
    font-size: 4em;
    display: block;
    text-align: center;
    color: #385a74; }
  .navmain i.fa.fa-user-circle:before {
    font-size: .95em; }
  .navmain a {
    font-size: 2em;
    width: calc(96%/1);
    margin: 2% calc(2%/1);
    border: 1px solid #385a74; }
    .navmain a:hover {
      margin: 2% 0;
      transform: scale(1.05);
      box-shadow: 5px 5px 5px #8398a7; }
      .navmain a:hover i.fa {
        color: #df745f; }
      .navmain a:hover h4 {
        font-weight: 700;
        color: #df745f; }
  .navmain h4 {
    color: #fff;
    background-color: #385a74; }
  @media only screen and (min-width: 560px) {
    .navmain i.fa {
      font-size: 4em;
      display: block;
      text-align: center; }
    .navmain a.projects-nav {
      width: calc(96%/1);
      margin: 2% calc(2%/1); }
    .navmain a.community-nav {
      font-size: 2em;
      width: calc(94%/3*2);
      margin: 2% calc(2%/2) 2% calc(2%/1); }
    .navmain a.about-nav {
      font-size: 2em;
      width: calc(94%/3);
      margin: 2% calc(2%/1) 2% calc(2%/2); } }
  @media only screen and (min-width: 760px) {
    .navmain i.fa {
      font-size: 4em;
      display: block;
      text-align: center;
      height: 60%; }
    .navmain h4 {
      font-size: 1.25em;
      height: 40%;
      padding: 10% 0; }
    .navmain .about-nav h4 {
      padding: 16% 0; }
    .navmain a {
      display: flex;
      flex-direction: column;
      text-align: center;
      height: 10em; }
    .navmain a.projects-nav {
      width: calc(94%/5*2);
      margin: 2% calc(calc(6%/3) /2); }
    .navmain a.community-nav {
      font-size: 2em;
      width: calc(94%/5*2);
      margin: 2% calc(calc(6%/3) /2); }
    .navmain a.about-nav {
      font-size: 2em;
      width: calc(94%/5*1);
      margin: 2% calc(calc(6%/3) /2); } }
  @media only screen and (min-width: 960px) {
    .navmain i.fa {
      font-size: 4em;
      display: block;
      text-align: center;
      height: 60%; }
    .navmain h4 {
      font-size: 1.5em;
      height: 40%;
      padding: 8% 0; }
    .navmain .about-nav h4 {
      padding: 14% 0; }
    .navmain a {
      display: flex;
      flex-direction: column;
      text-align: center;
      height: 10em; }
    .navmain a.projects-nav {
      width: calc(94%/5*2);
      margin: 2% calc(calc(6%/3) /2); }
    .navmain a.community-nav {
      font-size: 2em;
      width: calc(94%/5*2);
      margin: 2% calc(calc(6%/3) /2); }
    .navmain a.about-nav {
      font-size: 2em;
      width: calc(94%/5*1);
      margin: 2% calc(calc(6%/3) /2); } }
.footer-container {
  height: 100%;
  float: left;
  background-color: #8398a7; }
  .footer-container * {
    float: left; }
  .footer-container .devicon-container {
    height: 80%;
    background-color: #fff;
    border-top: 1px solid #7a7d84; }
    .footer-container .devicon-container img {
      height: calc(96%/1);
      width: calc(80%/10);
      margin: calc(4%/2) calc(20%/20); }
  .footer-container .footer-bottom {
    height: 20%;
    text-align: center; }
    .footer-container .footer-bottom .footer-signature {
      width: 100%;
      font-family: "Satisfy", cursive; }
.projects {
  height: 100%;
  float: left;
  animation-duration: 300ms;
  animation-name: slidein; }

@keyframes slidein {
  from {
    margin-top: 100%;
    width: 100%; }
  to {
    margin-top: 0%;
    width: 100%; } }
  .projects * {
    float: left;
    display: block; }
  .projects .project-border {
    width: calc(90%/1);
    margin: 1% calc(10%/2);
    border-bottom: 1px solid #7a7d84;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }
  .projects .headline {
    text-align: center;
    font-size: 3em;
    font-weight: 400;
    letter-spacing: 2px;
    color: #385a74;
    border-top: 1px solid #385a74;
    border-bottom: 1px solid #385a74;
    margin: 1% 0px; }
  .projects .device-photo {
    position: relative;
    height: 94%;
    width: 94%;
    margin: 1em calc(6%/2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }
  .projects .snapshot .title, .projects .snapshot p {
    width: 94%;
    margin: 0 calc(6%/2); }
  .projects .snapshot .title {
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    color: #fff;
    background-color: #385a74;
    padding: 0 0.25em; }
  .projects .snapshot p {
    display: block;
    margin-top: .5em;
    padding: 0 0.25em;
    font-size: 1.25em;
    border: 0.5px solid #7a7d84; }
  .projects .button-bar .visit-site-button, .projects .button-bar .details-button {
    width: 94%;
    margin: 1% calc(6%/2);
    border-radius: .5em;
    background-color: #fff;
    border: 1px solid #7a7d84; }
    .projects .button-bar .visit-site-button:hover, .projects .button-bar .details-button:hover {
      box-shadow: 5px 5px 5px #8398a7;
      transform: scale(1.05); }
      .projects .button-bar .visit-site-button:hover h6, .projects .button-bar .visit-site-button:hover i.fa.fa-arrow-circle-right, .projects .button-bar .visit-site-button:hover i.fa.fa-chevron-circle-down, .projects .button-bar .details-button:hover h6, .projects .button-bar .details-button:hover i.fa.fa-arrow-circle-right, .projects .button-bar .details-button:hover i.fa.fa-chevron-circle-down {
        color: #df745f;
        font-weight: 700; }
    .projects .button-bar .visit-site-button h6, .projects .button-bar .details-button h6 {
      font-weight: 600;
      width: 80%;
      color: #385a74; }
    .projects .button-bar .visit-site-button i.fa.fa-arrow-circle-right, .projects .button-bar .visit-site-button i.fa.fa-chevron-circle-down, .projects .button-bar .details-button i.fa.fa-arrow-circle-right, .projects .button-bar .details-button i.fa.fa-chevron-circle-down {
      font-size: 1.25em;
      width: 20%;
      color: #385a74; }
  .projects .feature-list {
    width: 94%;
    margin: 1% calc(6%/2);
    font-size: 1.25em; }
    .projects .feature-list i.fa.fa-dot-circle-o {
      width: 10%;
      margin: 0.5em 0; }
    .projects .feature-list li {
      width: 90%;
      margin: 0.5em 0; }
  .projects .main-details {
    position: relative; }
  .projects .details .devicon-container {
    width: 94%;
    margin: 1% calc(6%/2); }
    .projects .details .devicon-container img {
      height: 98%;
      width: calc(90%/5);
      margin: 1% calc(10%/10); }
  .projects .details .close-details-button {
    width: 94%;
    margin: 1% calc(6%/2);
    border-radius: .5em;
    background-color: #fff;
    border: 1px solid #7a7d84; }
    .projects .details .close-details-button:hover {
      box-shadow: 5px 5px 5px #8398a7;
      transform: scale(1.05); }
      .projects .details .close-details-button:hover h6, .projects .details .close-details-button:hover i.fa.fa-times-circle {
        color: #df745f;
        font-weight: 700; }
    .projects .details .close-details-button h6 {
      font-weight: 600;
      width: 80%;
      color: #385a74; }
    .projects .details .close-details-button i.fa.fa-times-circle {
      font-size: 1.25em;
      width: 20%;
      color: #385a74; }
  @media only screen and (min-width: 660px) {
    .projects .headline {
      text-align: center;
      font-size: 3em;
      font-weight: 400;
      letter-spacing: 2px;
      color: #385a74;
      border-top: 1px solid #385a74;
      border-bottom: 1px solid #385a74;
      margin: 1% 0px; }
    .projects .device-photo {
      position: relative;
      height: 60%;
      width: 60%;
      margin: 1em calc(40%/2);
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }
    .projects .snapshot .title, .projects .snapshot p {
      width: 75%;
      margin: 0 calc(25%/2); }
    .projects .snapshot .title {
      text-align: center;
      font-size: 2.5em;
      font-weight: 400;
      color: #fff;
      background-color: #385a74;
      padding: 0 0.25em; }
    .projects .snapshot p {
      display: block;
      margin-top: .5em;
      padding: 0 0.25em;
      font-size: 1.25em;
      border: 0.5px solid #7a7d84; }
    .projects .button-bar {
      width: 75%;
      margin: 0 calc(25%/2); }
      .projects .button-bar .visit-site-button, .projects .button-bar .details-button {
        width: calc(96%/2);
        margin: 1% calc(4%/4);
        border-radius: .5em;
        background-color: #fff;
        border: 1px solid #7a7d84; }
        .projects .button-bar .visit-site-button:hover, .projects .button-bar .details-button:hover {
          box-shadow: 5px 5px 5px #8398a7;
          transform: scale(1.05); }
          .projects .button-bar .visit-site-button:hover h6, .projects .button-bar .visit-site-button:hover i.fa.fa-arrow-circle-right, .projects .button-bar .visit-site-button:hover i.fa.fa-chevron-circle-down, .projects .button-bar .details-button:hover h6, .projects .button-bar .details-button:hover i.fa.fa-arrow-circle-right, .projects .button-bar .details-button:hover i.fa.fa-chevron-circle-down {
            color: #df745f;
            font-weight: 700; }
        .projects .button-bar .visit-site-button h6, .projects .button-bar .details-button h6 {
          font-weight: 600;
          width: 80%;
          color: #385a74; }
        .projects .button-bar .visit-site-button i.fa.fa-arrow-circle-right, .projects .button-bar .visit-site-button i.fa.fa-chevron-circle-down, .projects .button-bar .details-button i.fa.fa-arrow-circle-right, .projects .button-bar .details-button i.fa.fa-chevron-circle-down {
          font-size: 1.25em;
          width: 20%;
          color: #385a74; }
    .projects .feature-list {
      width: 75%;
      margin: 1% calc(25%/2); }
    .projects .details .devicon-container {
      width: 75%;
      margin: 1% calc(25%/2);
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around; }
      .projects .details .devicon-container img {
        width: 4em; }
    .projects .details .close-details-button {
      width: 75%;
      margin: 1% calc(25%/2);
      border-radius: .5em;
      background-color: #fff;
      border: 1px solid #7a7d84; }
      .projects .details .close-details-button:hover {
        box-shadow: 5px 5px 5px #8398a7;
        transform: scale(1.05); }
        .projects .details .close-details-button:hover h6, .projects .details .close-details-button:hover i.fa.fa-times-circle {
          color: #df745f;
          font-weight: 700; }
      .projects .details .close-details-button h6 {
        font-weight: 600;
        width: 80%;
        color: #385a74; }
      .projects .details .close-details-button i.fa.fa-times-circle {
        font-size: 1.25em;
        width: 20%;
        color: #385a74; } }
.carousel-container h4 {
  width: 50%;
  margin: 1% calc(50%/2);
  padding: 1%;
  text-align: center; }
  @media only screen and (max-width: 620px) {
    .carousel-container h4 {
      width: 96%;
      margin: 2%;
      font-size: 1.5em; } }

.carousel-container h3 {
  font-size: 3em; }
  @media only screen and (max-width: 620px) {
    .carousel-container h3 {
      width: 96%;
      margin: 2%;
      font-size: 2.5em; } }

.carousel-container h5 {
  width: 50%;
  margin: 1% calc(50%/2);
  padding: 1%;
  text-align: center;
  border: 1px solid #7a7d84; }
  @media only screen and (max-width: 620px) {
    .carousel-container h5 {
      width: 90%;
      margin: 2% 5%;
      font-size: 1em; } }

.carousel-container .active-picture {
  height: 50%;
  position: relative;
  width: 50%;
  margin: 0 25%; }
  @media only screen and (max-width: 620px) {
    .carousel-container .active-picture {
      width: 90%;
      margin: 0 5%; } }
  .carousel-container .active-picture * {
    float: left; }
  .carousel-container .active-picture img, .carousel-container .active-picture h3.active-title {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }
  .carousel-container .active-picture h3.active-title {
    width: 100%;
    background-color: #385a74;
    color: #fff;
    margin: 2% 0; }
    @media only screen and (max-width: 620px) {
      .carousel-container .active-picture h3.active-title {
        font-size: 2em; } }
  .carousel-container .active-picture .toggle-left, .carousel-container .active-picture .toggle-right {
    background-color: rgba(255, 255, 255, 0.2);
    width: 10%;
    height: 100%;
    margin: 25% 0;
    padding: 5% 0 15% 0;
    position: absolute;
    font-size: 4em;
    font-weight: 600; }
    @media only screen and (max-width: 620px) {
      .carousel-container .active-picture .toggle-left, .carousel-container .active-picture .toggle-right {
        width: 10%;
        padding: 5% 0 20% 0;
        font-size: 2em; } }
    .carousel-container .active-picture .toggle-left:hover, .carousel-container .active-picture .toggle-right:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.3); }
  .carousel-container .active-picture .toggle-left {
    left: 0; }
  .carousel-container .active-picture .toggle-right {
    right: 0; }

.thumbnail-container {
  height: auto;
  margin: 1% 0; }
  .thumbnail-container img {
    border-radius: .25em; }
  .thumbnail-container .artificer-item {
    float: left;
    width: calc(90%/5);
    margin: 1%;
    border-radius: .25em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }
    .thumbnail-container .artificer-item:hover {
      transform: scale(1.05); }
  .thumbnail-container .adventurer-item {
    float: left;
    width: calc(90%/4);
    margin: 1.25%;
    border-radius: .25em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }
    .thumbnail-container .adventurer-item:hover {
      transform: scale(1.05); }

.border {
  width: calc(90%/1);
  margin: 1% calc(10%/2);
  border-bottom: 1px solid #7a7d84;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }
.about {
  height: 100%;
  float: left;
  text-align: center;
  animation-duration: 300ms;
  animation-name: slidein; }

@keyframes slidein {
  from {
    margin-top: 100%;
    width: 100%; }
  to {
    margin-top: 0%;
    width: 100%; } }
  .about .headline {
    text-align: center;
    font-size: 3em;
    font-weight: 400;
    letter-spacing: 2px;
    color: #385a74;
    border-top: 1px solid #385a74;
    border-bottom: 1px solid #385a74;
    margin: 1% 0px; }

a, .fa.fa-coffee, .fa.fa-linkedin-square {
  display: inline; }

.adv-container * {
  display: block;
  height: 200px;
  width: 100%;
  float: left; }
.community {
  height: 100%;
  float: left;
  text-align: center;
  animation-duration: 300ms;
  animation-name: slidein; }

@keyframes slidein {
  from {
    margin-top: 100%;
    width: 100%; }
  to {
    margin-top: 0%;
    width: 100%; } }
  .community * {
    float: left; }
  .community .headline {
    text-align: center;
    font-size: 3em;
    font-weight: 400;
    letter-spacing: 2px;
    color: #385a74;
    border-top: 1px solid #385a74;
    border-bottom: 1px solid #385a74;
    margin: 1% 0px; }
  .community .volunteer-container h3 {
    font-size: 3em;
    margin: 5% auto 2% auto; }
  .community .volunteer-container img {
    width: 50%;
    height: 50%;
    margin: 1% calc(50%/2); }
  .community .volunteer-container h4 {
    width: 50%;
    margin: 0 calc(50%/2);
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    color: #fff;
    background-color: #385a74;
    padding: 0 0.25em; }
  @media only screen and (max-width: 620px) {
    .community .volunteer-container h4 {
      font-size: 1.5em; } }
  .community .volunteer-container h5 {
    width: 50%;
    margin: 1% calc(50%/2);
    padding: 1%;
    text-align: center;
    border: 1px solid #7a7d84; }
  .community .volunteer-container .visit-site-button {
    width: 50%;
    margin: 1% calc(50%/2);
    border-radius: .5em;
    background-color: #fff;
    border: 1px solid #7a7d84; }
    .community .volunteer-container .visit-site-button:hover {
      box-shadow: 5px 5px 5px #8398a7;
      transform: scale(1.05); }
      .community .volunteer-container .visit-site-button:hover h6, .community .volunteer-container .visit-site-button:hover i.fa.fa-arrow-circle-right {
        color: #df745f;
        font-weight: 700; }
    .community .volunteer-container .visit-site-button h6 {
      font-weight: 600;
      width: 80%;
      color: #385a74; }
    .community .volunteer-container .visit-site-button i.fa.fa-arrow-circle-right {
      font-size: 1.25em;
      width: 20%;
      color: #385a74; }
  .community .community-border {
    width: calc(90%/1);
    margin: 2% calc(10%/2);
    border-bottom: 1px solid #7a7d84;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }
  .community img {
    width: 50%;
    height: 50%;
    margin: 1% auto;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }
  .community .meetup-logo {
    box-shadow: none; }
* {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif, sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  white-space: normal;
  background: none;
  color: #000; }

form *:focus {
  border: none;
  outline: none; }

form *:active {
  border: none;
  outline: none; }

head, script, link, style {
  display: none; }

p {
  display: inline-block; }

span, em, strong {
  display: inline; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

body {
  background: #fff;
  font-size: 16px;
  height: 100%; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.25em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.28571em; }

h6 {
  font-size: 1.125em; }

label {
  font-size: 1.25em;
  font-weight: bolder;
  margin-bottom: 0.5em; }

textarea, input {
  padding: 0.5em;
  border: 1px solid #e3e5e8;
  margin-bottom: 0.5em;
  resize: none; }
  textarea:focus, input:focus {
    border: 1px solid #6e7177; }
  textarea::placeholder, input::placeholder {
    color: #e3e5e8; }

button, input[type="submit"] {
  background: #e3e5e8;
  padding: 0.5em;
  border: none; }
  button:hover, input[type="submit"]:hover {
    background: #7a7d84; }
  button:active, input[type="submit"]:active {
    background: #6e7177; }

.clear-float {
  clear: both; }

.app {
  height: 100%; }
  .app .header {
    height: 20%; }
  .app .main {
    height: 70%; }
  .app .footer {
    height: 10%; }

.header, .main, .footer {
  clear: both; }
