@import "../../../style/_vars.scss";

.about {
  height: 100%;
  float: left;
  text-align: center;
  animation-duration: 300ms;
  animation-name: slidein;

  @keyframes slidein {
    from {
      margin-top: 100%;
      width: 100%;
    }

    to {
      margin-top: 0%;
      width: 100%;
    }
  }


  .headline {
    text-align: center;
    font-size: 3em;
    font-weight: 400;
    letter-spacing: 2px;
    color: $color-main;
    border-top: 1px solid $color-main;
    border-bottom: 1px solid $color-main;
    margin: 1% 0px;
  }

  img {
    width: 50%;
    height: 50%;
    margin: 0 auto;
  }
}

.fa.fa-coffee {
  display: inline;
}
